/*
	These are the custom css styles for the Guerrilla Redacted Text plugin.
	If you'd like to customize these css codes, I would recommend copying
	the codes below into your theme's stylesheet and editing the codes
	as you see fit. Need help? email: hi@madebyguerrilla.com
*/


span.redacted {
	background: #000;
	color: #000;
}

span.redacted.medium {
	padding: 0 10px;
}

span.redacted.long {
	padding: 0 15px;
}

span.redacted.extra {
	padding: 0 20px;
}

